<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games Mania</title>
    <link rel="stylesheet" href=<%=url%>/css/output.css>
    <style> 
        .remove-arrow::-webkit-inner-spin-button, 
        .remove-arrow::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        } 
    </style> 
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body class="h-screen " style="background-image: url('/images/wallpaperflare.com_wallpaper.jpg'); background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">
    <nav class=" h-12 flex justify-between items-center">
        <a href="/" class=" text-violet-700 text-3xl font-bold mx-10" > GAMES - MANIA</a>
        <div>
            <ul class=" flex gap-5 mx-5 text-white">
                <li><a href="/">Home</a></li>
                <li><a href="users/cart">Cart</a></li>
                <li><a href="users/orders">Orders</a></li>
                <li><a href="users/profile">Profile</a></li>
                <li><a href="">Contact US</a></li>
            </ul>
        </div>
    </nav>