<%- include('../partials/header') %>

    <main class="flex justify-center text-white">
        <div>
            <h1 class=" text-5xl font-bold text-orange-500 my-5 text-center"> Your orders <%= user.fullname %></h1>
        
        </div>
    </main>
    </body>

    </html>